@model SJBugTracker.ViewModels.TicketAssignmentViewModel
@{
    ViewBag.Title = "Ticket User Management";
}

<br />
<!-- The line below this comment is temporary until proper role-based routing is determined -->
@Html.ActionLink("< Back to Ticket List", "Index", "Tickets", null, null)


<h2>Update User Assignment to Ticket: @Model.Ticket.Name</h2>

<div class="row">
    <div class="container">
        <div class="col-md-8">
            <h3>Developers in Database</h3>
            <table id="users" class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Developer</th>
                        <th>Tickets</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in Model.Users)
                    {
                        <tr>
                            <td>@user.UserName</td>
                            <td>@String.Join(", ", user.Tickets.Select(t => t.Name))</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="col-md-4">
            <h3>Ticket Assignment</h3>
            @using (Html.BeginForm("ManageTicket", "Tickets"))
            {
                @Html.HiddenFor(m => m.TicketId, new { @Value = Model.Ticket.Id })
                <div class="form-group">
                    @Html.LabelFor(m => m.Action)
                    @Html.DropDownListFor(m => m.Action, new SelectList(Model.Actions), "Select desired action for users", new { @class = "form-control", @required = "required" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.SelectedUsers)
                    @Html.ListBoxFor(m => m.SelectedUsers, new SelectList(Model.Users, "Id", "UserName"), new { @class = "form-control", @required = "required" })
                </div>
                @Html.AntiForgeryToken()
                <button type="submit" class="btn btn-primary">Update Ticket Assignment</button>
            }
        </div>
    </div>
</div>

@section scripts
{
    <script>
        $(document).ready(function () {
            var dataTable = $("#users").DataTable({});
        });
    </script>
}